name: CI

on:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Check Format
              run: deno fmt --check

            - name: Lint
              run: deno lint

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Run Tests
              run: deno test --allow-import src/
