name: Publish

on:
    workflow_dispatch:

concurrency: publish

permissions:
    contents: write
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  registry-url: https://registry.npmjs.org

            - name: Version patch
              run: npm version patch

            - name: Publish
              run: npm publish

            - name: Push version tag
              run: git push --tags
